<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cishenn.ccs.dao.BlacklistMapper">
    <insert id="save" parameterType="com.cishenn.ccs.entity.Blacklist">
        insert into blacklist(blist_id, time, cid, sid, reason, create_time)
                    values(#{id}, #{time}, #{cid}, #{sid}, #{reason}, #{create_time})
    </insert>
</mapper>