<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cishenn.ccs.dao.CommonWordMapper">

    <insert id="save" parameterType="com.cishenn.ccs.entity.CommonWord">
         --  杨老板组数据库字段使用的是驼峰命名，如果我们不适用这种命名方法，相应位置需要改动
        insert into common_word(content,lib, type)
        values(#{content}, #{lib}, #{type})
    </insert>
    <update id="update" parameterType="CommonWord">
        update common_word set
            content = #{commonWord.content},
            lib = #{commonWord.lib},
            type = #{commonWord.type},
            creatorId = #{commonWord.creatorId}
        where creatorId = #{creatorId};
        --没有自增对象，此处where可能有问题
    </update>
    <delete id="delete" parameterType="CommonWord">
        delete from common_word
        where creatorId = #{creatorId};
    </delete>
    <select id="getOne" resultType="CommonWord">
        select * from common_word
        where creatorId = #{creatorId};
    </select>
    <select id="getOneLib" resultType="CommonWord">
        select * from common_word
        where lib = #{lib};
    </select>
    <select id="getAll" resultType="CommonWord">
        select * from common_word
    </select>


</mapper>