<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cishenn.ccs.dao.CompanyMapper">
    <insert id="save" parameterType="com.cishenn.ccs.entity.Company">
        insert into company(name, id,profession,number, pname,
        phone, address,logo,comment)
        values(#{company.name},#{company.id},#{company.profession},#{company.number},#{company.pname},#{company.phone},#{company.address},#{company.logo},#{company.comment})
    </insert>
    <update id="update" parameterType="com.cishenn.ccs.entity.Company">>
        update company set
        name=#{workload.name}
        where id=#{id}
    </update>
    <delete id="delete" parameterType="com.cishenn.ccs.entity.Company">
        delete from company
        where id=#{id}
    </delete>
    <select id="getOne" resultType="com.cishenn.ccs.entity.Company">
        select * from company
        where id=${id}
    </select>
    <select id="getAll" resultType="com.cishenn.ccs.entity.Company">
        select * from company
    </select>
</mapper>