<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cishenn.ccs.dao.ServicerMapper">

<!--    <insert id="save" parameterType="com.cishenn.ccs.entity.Servicer">-->
<!--        &#45;&#45;  杨老板组数据库字段使用的是驼峰命名，如果我们不适用这种命名方法，相应位置需要改动-->
<!--        insert into servicer(phone, password, state, avator, email, nickName, realName, servicerPhone, totalOnlineTime, onlineTimeBegin, onlineTimeEnd, sessionCount, msgCount, serviceGroup, serviceRole)-->
<!--        values(#{phone}, #{password}, #{state}, #{avator}, #{email}, #{nickName}, #{realName}, #{servicerPhone}, #{totalOnlineTime}, #{onlineTimeBegin}, #{onlineTimeEnd}, #{sessionCount}, #{msgCount}, #{serviceGroup}, #{serviceRole})-->
<!--    </insert>-->
<!-- 对象的写法好像是servicer,跟函数中的参数名保持一致 -->
    <update id="update" parameterType="com.cishenn.ccs.entity.Servicer">

        update customer_service set
            phone = #{servicer.phone},
            password = #{servicer.password},
            email = #{servicer.email},
            nickName = #{servicer.nickName},
            realName = #{servicer.realName}
        where customerServiceId = #{id};
        <!--      servicerPhone = #{servicer.servicerPhone}
      avatar = #{servicer.avatar},
      totalOnlineTime = #{servicer.totalOnlineTime},
      onlineTimeBegin = #{servicer.onlineTimeBegin},
      onlineTimeEnd = #{servicer.onlineTimeEnd},
      sessionCount = #{servicer.sessionCount},
      msgCount = #{servicer.msgCount},
      serviceGroup = #{servicer.serviceGroup},
      serviceRole = #{servicer.serviceRole} -->
    </update>
    <delete id="delete" parameterType="com.cishenn.ccs.entity.Servicer">
        delete from servicer
        where customerServiceId = #{servicerId};
    </delete>
    <select id="getOne" resultType="com.cishenn.ccs.entity.Servicer">
        select * from servicer
        where customerServiceId = #{servicerId};
    </select>
    <select id="getAll" resultType="com.cishenn.ccs.entity.Servicer">
        select * from servicer
    </select>


</mapper>