<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cishenn.ccs.dao.TagMapper">
    <insert id="save" parameterType="com.cishenn.ccs.entity.Tag">
        insert into tag(creatorId,tag_name,color,type,usedTimes,createTime)
        values(#{creatorId},#{name},#{color},#{type},#{usedTimes},#{createTime})
    </insert>
<!--花括号中的id需要修改格式-->
    <update id="update">
        update tag set
          tag_name = #{tag.name},
          color=#{tag.color}
        where creatorId = #{id};
    </update>

    <delete id="delete" parameterType="com.cishenn.ccs.entity.Tag">
        delete from tag
        where creatorID=#{id}
    </delete>

    <select id="getOne" resultType="com.cishenn.ccs.entity.Tag">
        select * from tag
        where creatorID=#{id}
    </select>

    <select id="getAll" resultType="com.cishenn.ccs.entity.Tag">
        select * from tag
    </select>
</mapper>